.block_teste .teste {
	width: 100%;
	background: transparent;
}

.block_teste #testes {
    display: none;
		display: block;
 		width: 13px;
 	 	height: 0;
 		padding-top: 13px;
 		background-image: url([[pix:block_slider|pagination]]);
 		background-position: 0 0;
 		float: left;
 		overflow: hidden;
}
}
